@model MovieManagement.Models.Pelicula

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntuacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntuacion)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Imagen)*@
            <img src="@Model.Imagen" alt="n/a" style="height: 100px; width: auto;">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaPrestada)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.EstaPrestada)*@
            @(Model.EstaPrestada ? "Sí" : "No")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
